# Binaries
controller
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Build directories
/build/
/bin/
/kubebuilder/
/etcd/

# Output
*.coverprofile
coverage.out
coverage.xml
report.xml

# IDE/editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Test output
*.out

# Logs
*.log

# Go modules
vendor/

# Envtest assets
bin/k8s/ 